/* Change the colors in this stylesheet to customize the game. */ 

/* Player Styles */

.player-color {
  background-color: #2a79d0;
}

.player-area {
  background-color: #0d3158;
  background-image: url(images/mathBackground3.png);
}

.player-card .power {
  background-image: url(images/answer.png);
}

/* teacher Styles */

.teacher-color {
  background-color: #62ec62;
}

.teacher-area {
  background-color: #066f06;
  background-image: url(images/mathBackground3.png);
}

.teacher-card .power {
  background-image: url(images/math.png);
}
